.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* SEMANTIC OVERRIDES */

.column {
  padding: 0 !important;
}

.button {
  border-radius: 0px !important;
  border: 1px solid !important;
}



/* NAV */

.mainNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: white;
  height: 70px;
  border-bottom: 2px solid black;
}

.mainNavGrid {
  display: block;
  padding: 5px !important;
  margin: 0 !important;
  text-align: center;
  background-color: white;
  height: 80%;
}

#mainNavLogo {
  height: 50px;
  margin: 0 auto;
  padding: 10px 0 0 0;
}

.mainNavItem {
  text-align: center;
  color: #969696;
}


.mainNavIcon {
  margin: 0 auto;
  padding: 15px 0 0 0;
}

/* PAGE CONTENT */
.clearNav {
  height: 70px;
}

.subNavContainer {
  display: block !important;
  margin-top: 30px;
}

.pageContent {
  display: block !important;
  margin-top: 40px;
}

/* LISTINGS SUBNAV */

.subNav {
  display: block;
  /*padding: 20px 0 0 0 !important;*/
  margin-top: 20px;
  text-align: center;
  background-color: white;
  height: 50px;
}

.subNavItem {
  text-align: center;
  color: #969696;
}


.subNavIcon {
  margin: 0 auto;
  padding: 15px 0 0 0;
}

.subNavButtons {
  margin: 0 auto;
  padding: 10px 0 0 0;

}

.subNavButtonL {
  height: 30px !important;
  border-radius: 0px !important;
  border-right: 0px !important;
  font-size: 12px !important;
}

.subNavButtonR {
  height: 30px !important;
  border-radius: 0px !important;
  border-left: 0px !important;
  font-size: 12px !important;
}


/* RESTAURANT LIST */

.restaurantSaveList {
  padding: 17px 30px 0 0;
}

.resultsListItemArrow {
  text-align: right;
  padding: 12px 0 0 0;
  color: grey;
}

.resultsListItem {
  padding: 20px 0 !important;
}


/* MENU */

.categoryHeader {
  margin: 20px 0 15px 0;
}
